.pmenu {
  position: absolute;
  width: 67px;
  left: 58px;
  top: 5%;
}
/*.mback{
      position: absolute;
      opacity: 0%;
  width: 1282px;
  height: 632px;
  left: 100px;
  top: 213px;
  background: #FFFFFF;
  }
  .scrollmenu{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      margin: 0;
      background: invisiable;
      overflow-y: auto;
      overflow-x: hidden;
      } */
.AAC {
  position: absolute;
  width: 1304px;
  height: 141px;
  left: 15%;
  top: 36px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 110px;
  text-align: right;
}
/* .main-container{
          white-space: nowrap;
      } */
.wood-container {
  position: relative;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  top: 20%;
  height: 280px;
  white-space: nowrap;
  margin-top: 150px;
}
.time-container {
  position: relative;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  top: 20%;
  height: 280px;
  white-space: nowrap;
  margin-top: 10px;
}
.oneZero-container,
.zeroZero-container,
.twoZero-container,
.threeZero-container,
.fourZero-container,
.fifties-container,
.sixZero-container,
.sevenZero-container,
.eightZero-container,
.nineZero-container,
.twenty-container {
  display: flex;
}
.zeroZero-image,
.oneZero-image,
.twoZero-image,
.threeZero-image,
.fourZero-image,
.fifties-image,
.sixZero-image,
.sevenZero-image,
.eightZero-image,
.nineZero-image,
.marco-image,
.arne-image,
.finn-image,
.arneJ-image,
.eero-image,
.gerrit-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
}

/* .twenty-image{
      width: 200px;
      height: auto;
      align-self: center;
      margin-left: 1rem;
  } */
.designers {
  position: relative;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 280px;
  white-space: nowrap;
  margin-top: 10px;
}

.marco-container,
.arne-container,
.finn-container,
.arneJ-container,
 .eero-container,
 .gerrit-container{
  display: flex;
}
.wood-box {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 2rem;
}
.wood-image {
  /* width: 200px;
    height: auto; */
  /* align-self: center;
    margin-left: 1rem; */
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}
.wood-image:hover,
.zeroZero-image:hover,
.oneZero-image:hover,
.twoZero-image:hover,
.threeZero-image:hover,
.fourZero-image:hover,
.fifties-image:hover,
.sixZero-image:hover,
.sevenZero-image:hover,
.eightZero-image:hover,
.nineZero-image:hover,
.marco-image:hover,
.arne-image:hover,
.finn-image:hover,
.arneJ-image:hover,
.eero-image:hover,
.gerrit-image:hover
 {
  filter: brightness(50%);
  transition: all 0.25s;
}

/* .grid-section{

} */

.modal-image{
    width: 500px;
    height: auto;
}

.modal-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
  }
  
  .modal-box {
    box-sizing: border-box;
    background: white;
    overflow-x: scroll;
    position: relative;
    height: auto;
    max-width: 600px;
    padding: 2rem;
  }
  
  .modal-image {
      width: 200px;
      height: auto;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .modal-is-active .modal-container {
    display: flex;
  }